<%= form_for(@anuphat) do |f| %>
  <% if @anuphat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anuphat.errors.count, "error") %> prohibited this anuphat from being saved:</h2>

      <ul>
      <% @anuphat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
